


@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* Main Colors */
  --color-primary: #A2157F;
  --color-primary-content: #ffffff;

  --color-secondary: #4A79D0;
  --color-secondary-content: #ffffff;

  --color-neutral: #D1C8D9;     
  --color-neutral-content: #2B2B2B; 

  /* Backgrounds (Balanced Contrast with Primary/Secondary) */
  --color-base-100: #FDFBFF;  /* Soft warm-white */
  --color-base-200: #F3F0F8;  /* Light lavender tint */
  --color-base-300: #E0DAEB;  /* Muted lavender-gray */

  /* Text Colors */
  --color-base-content: #1A1A1A;  /* Deep gray for sharp contrast */
}



@plugin "daisyui/theme" {
  name: "dark";
  default: false;

  /* Main Colors */
  --color-primary: #A2157F;
  --color-primary-content: #ffffff;

  --color-secondary: #4A79D0;
  --color-secondary-content: #ffffff;

  --color-neutral: #2E2B33;    
  --color-neutral-content: #E0E0E0;  

  /* Backgrounds */
  --color-base-100: #121212;   /* true dark for page bg */
  --color-base-200: #1D1B20;   /* section/card bg */
  --color-base-300: #2A262F;   /* deeper section bg */

  /* Text Colors */
  --color-base-content: #EAEAEA;  /* light gray for readable text */
}


.loader {
        position: relative;
  width: 15px;
  height: 64px;
}
.loader::after , .loader::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  color: #A2157F;
  background: currentColor;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 45px 0 , -45px 0;
  animation: move 0.5s linear infinite alternate;
}

.loader::before {
  top: 100%;
  box-shadow: 50px 0 ;
  left: -25px;
  animation-direction: alternate-reverse;
}

@keyframes move {
  0% { top: 0 }
  50% { top: 50% }
  100% { top: 100% }
}